<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/callback" method="POST">
        <label for="f">1st name</label>
        <input type="text" name="fname" id="f" placeholder="First Name">

        <label for="l">2nd name</label>
        <input type="text" name="lname" id="l" placeholder="Last Name">

        <input type="submit">
    </form>
</body>
</html>