<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/getJiraID" method="POST">
        <label for="f">Jira Task</label>
        <input type="text" name="taskID" id="f" placeholder="First Name">
        <input type="submit">
    </form>
    <div>{{template "content.gohtml"}}</div>
</body>
</html>